# Electron & Node Directories
node_modules
dist

# Electron & Node files
*.tgz
*.log

# spring-launcher downloads
game_package
data/engine/
data/maps/

# spring-launcher temporary files
Settings
src/config.json
