# Electron & Node Directories
node_modules
dist

# Electron & Node files
*.tgz
*.log

# spring-launcher downloads
game_package
data/engine/
data/maps/
data/pool/
data/packages/
data/rapid/
data/games/

# spring-launcher temporary files
Settings
src/config.json

# Old Chobby stuff
devmode.txt
*code-workspace
.vscode/settings.json
